html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face{
    font-family: 'TW Cen MT';
    src:url("Tw Cen MT.ttf");
    font-style: normal;
    font-weight: 100;

}
@font-face{
    font-family: 'Cinzel';
    src:url("Cinzel.ttf");
    font-style: normal;
    font-weight: 100;

}
@font-face{
    font-family: 'Gotu';
    src:url("Gotu.ttf");
    font-style: normal;
    font-weight: 100;

}
@font-face{
    font-family: 'Playfair';
    src:url("Playfair.ttf");
    font-style: normal;
    font-weight: 100;

}
body {
    background-image: url('contact.png');
    background-repeat: no-repeat;
    background-size:100%;
    background-position-x: 50%;
    overflow: hidden;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    color: white;
}
.main-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-nav-list{
    /*font-size: 25px;*/
    width: 100%;
    margin-top: 45px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-nav-item{
    font-size: 18px;
    font-family: 'TW Cen MT';
    font-style: normal;
    font-weight: 100;
    letter-spacing: 3px;
}

.heading{
    width: 1400px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
}

.h1{
    font-family: 'Cinzel';
    font-size: 150px;
    letter-spacing: 15px;
}

.contact_form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-top: 50px;
}
.full_name{
/* position: absolute; */
display: flex;
flex-direction: column;
width: 650px;
height: 79px;
/* top: 450px; */
}

.fn_box {
width: 100%; 
padding: 15px; 
border: 1px solid white;
border-radius: 4px;
margin-top: 6px;
background: rgba(255,255,255,0.5);

}
/* 
.s&p{
    display:flex;

} */
.outer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: stretch; */
    padding-top: 12px;
}

.school_name{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 79px;
    top: 550px;
    left: 635px;
    }

.sn_box {
    width: 100%; 
    padding: 15px; 
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 6px;
    background: rgba(255,255,255,0.5);
    
    }

.phone{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 79px;
    top: 550px;
    left: 985px;
    }

.p_box {
    width: 100%; 
    padding: 15px; 
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 6px;
    background: rgba(255,255,255,0.5);
    
    }

.message{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 200px;
    /* top: 650px; */
    padding-top: 12px;
    }
        
.message_box {
    width: 100%; 
    height: 120px;
    padding: 15px; 
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 6px;
    background: rgba(255,255,255,0.5);
    
    }
        
.input_label{
font-family:'Gotu', sans-serif;
color: white;
font-size: 21px;
}



.line{
    width: 60%;
    border: 1px solid white;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
}
.submit_button{
    /* top: 100px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    font-size: 17px;
    font-family: 'Playfair', sans-serif;
    background: none;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    width: 115px;
    height: 45px;
}
.submit_button {
    transition-duration: 0.4s;
  }
  
  .submit_button:hover {
    background: white;
    color: black;
    cursor: pointer;
  }

/*SIDE_NAV*/

@media screen and (max-width:1000px){
    /*SIDE_NAV*/
    .side-nav{
        visibility: visible !important;
    }
}
    


.side-nav{
    position: fixed;
    top: 10px;
    right: 10px;
    visibility: hidden;
    z-index: 1 !important;
    
}

.but-nav{
    width: 100%;
    height: auto   ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
    color: white;
    border-style: none;  
    /* font-size: 150px;  */
    cursor: pointer;  
}

.material-icons{
    font-size: 35px !important;
}
.nav2-column{
    visibility: visible !important;
    z-index: 3 !important;
}
.side-nav-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 60px auto;
}

.close-nav{
    color: white;
    cursor: pointer;
}

.overlay{
    visibility: hidden;
}

.overlay2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    z-index: 2 !important;
    cursor: pointer;
}

.nav-hr{
    width: 60% !important;
    margin: 5px auto !important;
}

.li-side{
    width: 50%;
    font-size: 15px;
    margin: 5px auto;
    padding: 15px 15px;

}
.nav-column{
    /* padding: 10px; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
}

/*SIDE_NAV_END*/


/*FOOTER*/
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px ;
}
.footer{
    width: 62%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent
}
.creds{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
}
.social{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#footer-h2{
    font-family: 'TW Cen Mt';
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    /* color: white; */
    text-decoration: none !important;
    font-weight: 100;
    padding: 5px 15px;
    margin: 20px auto;
    
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

i{
    color: white;
}
/*FOOTER_END*/
