/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*IGNORE ABOVE CODE*/

/* Adding TW Cent MT */
@font-face{
    font-family: 'TW Cen MT';
    src:url("Tw Cen MT.ttf");
    font-style: normal;
    font-weight: 100;

}
/* Removing scroll bar */
::-webkit-scrollbar{
    display: none;
}
html{
    overflow-x:hidden ;
    user-select: none;
}


body{
     /* background-attachment: fixed; */
     background: linear-gradient(181.35deg, #24344B 0.75%, #3F2F40 64.61%, #1D1324 99.2%);
     color: white;
     display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
     --shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(94, 69, 85, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
     transition: 1s ease-in 0.5s ;
     
}

.above{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-nav{
    margin: 45px auto 100px auto;
    width: 100;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-nav-item{
    font-size: 18px;
    font-family: 'TW Cen MT';
    font-style: normal;
    font-weight: 100;
    letter-spacing: 3px;
    margin: auto 15px;
    text-align: center;
}

.heading{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1{
    font-family: 'Raleway', sans-serif;
    font-size: 150px;
    letter-spacing: 5%;
    text-align: center;
    text-shadow: var(--shadow);
    /* transition: 0.2s ease-in 0.5s ; */
}

/* hr{
    width: 85%;
    height: 0px;
    border-style: solid;
} */

.below{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}



.row{
    margin: 1% auto 2% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height: auto;
}


img{
    max-width: 90%;
    height: auto;
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(94, 69, 85, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    box-shadow: var(--shadow);
    transition: 1s ease-in 0.5s ;
    box-sizing: border-box;
    
    
}
::selection{
    background:rgba(240, 46, 170, 0.4);
}

.anchor-img{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}

img:hover{
    transition: 0.2s linear 0.1s;
    transform: scale(1.05);
    box-shadow: rgba(240, 46, 170, 0.4) 1px 1px, rgba(240, 46, 170, 0.3) 2.5px 2.5px, rgba(240, 46, 170, 0.2) 5px 5px, rgba(240, 46, 170, 0.1) 7.5px 7.5px, rgba(240, 46, 170, 0.05) 10px 10px;
    
}

.nine{
    margin-bottom: 100px;
}


/*MEDIA QUERIES*/
@media screen and (max-width:800px) {
    .main-nav{
        visibility: hidden;
        display: none;
    }
    
    .h1{
        font-size: 120px;
        margin-top: 50px;
    }
    
}

@media screen and (max-width:650px) {
    
    .h1{
        font-size: 100px;
    }
    
}

@media screen and (max-width:550px) {
    
    .h1{
        font-size: 100px;
    }
    .row{
        flex-direction: column;
        margin: 0px;
    }
    .img-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px auto 20px auto;
    }
    img{
        max-width: 75%;
        margin: 0px;
    }
    
}

@media screen and (max-width:400px) {
    
    .h1{
        font-size: 80px;
    }
}

/*SIDE_NAV*/

@media screen and (max-width:1000px){
    /*SIDE_NAV*/
    .side-nav{
        visibility: visible !important;
    }
}
    


.side-nav{
    position: fixed;
    top: 10px;
    right: 10px;
    visibility: hidden;
    z-index: 1 !important;
    
}

.but-nav{
    width: 100%;
    height: auto   ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
    color: white;
    border-style: none;  
    /* font-size: 150px;  */
    cursor: pointer;  
}

.material-icons{
    font-size: 35px !important;
}
.nav2-column{
    visibility: visible !important;
    z-index: 3 !important;
}
.side-nav-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 60px auto;
}

.close-nav{
    color: white;
    cursor: pointer;
}

.overlay{
    visibility: hidden;
}

.overlay2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    z-index: 2 !important;
    cursor: pointer;
}

.nav-hr{
    width: 60% !important;
    margin: 5px auto !important;
}

.li-side{
    width: 50%;
    font-size: 15px;
    margin: 5px auto;
    padding: 15px 15px;

}
.nav-column{
    /* padding: 10px; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
}

/*SIDE_NAV_END*/


/*FOOTER*/
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px ;
}
.footer{
    width: 62%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent
}
.creds{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
}
.social{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#footer-h2{
    font-family: 'TW Cen Mt';
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    /* color: white; */
    text-decoration: none !important;
    font-weight: 100;
    padding: 5px 15px;
    margin: 20px auto;
    
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

i{
    color: white;
}
/*FOOTER_END*/

