
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*IGNORE ABOVE CODE*/
@font-face{
    font-family: 'TW Cen MT';
    src:url("Tw Cen MT.ttf");
    font-style: normal;
    font-weight: 100;

}

::-webkit-scrollbar{
    display: none;
}
body{
    background-image: url("/submission/24-242432_1080p-long-exposure-stars.jpg");
    color: white;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    /*min-height: 100vh;*/
    /*width: 50%;*/
}
select {
    width: 852px;
    position:absolute;
    left: 37%;
    /* right: 50%; */
    top: 44%;
    /* bottom: 53%; */
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    opacity: 70%;
    color: #524E4E;
    font-family: 'Playfair Display'; 
    font-size: 30px;
    letter-spacing: 0px;
}
button{
    width: 200px;
    background: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Gotu';
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    left: 42.5%;
    top: 58%;
}
button:hover {
    background-color: white;
    color: black;
}

.main-nav{
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-nav-list{
    /*font-size: 25px;*/
    width: 65%;
    margin-top: 45px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-nav-item{
    font-size: 18px;
    font-family: 'TW Cen MT';
    font-style: normal;
    font-weight: 100;
    letter-spacing: 3px;
}

.heading{
    width: 1400px;
    display: flex;
    margin-bottom: 60px;
    flex-direction: row;
    justify-content: center;
}

.h1{
    font-family: 'Cinzel';
    font-size: 150px;
    letter-spacing: 15px;
}

.ev{
    font-family: 'Gotu'; 
    font-size: 50px;
    letter-spacing: 0px;
    position:absolute;
    left: 28%;
    top: 45%;

}

.sub-nav{
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-nav-list{
    font-size: 18px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub-nav-item{
    letter-spacing: 3.5px;
}

hr{
    width: 100%;
    color:#ffffff;
    position: relative;
    top: -30px;
    margin-bottom: 9px;
    /*border-top: 10px;*/
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.outer-box{
    width: 300px;
    height: 300px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgba(255,255,255, 0.1);
}

img{
    margin-top: 10px;
    width: 220px;
    height: 220px;
    padding-bottom: 5px;
}

.name{
    margin-top: 4px;
    font-size: 20px;
    letter-spacing: 3px;
}

.desig{
    font-family:'Tw Cent MT';
    margin-top: 5px;
    font-size: 14px;
    color:#14213D;
    letter-spacing: 3px;
    font-family: 'TW Cen MT';
    font-style: normal;
    font-weight: 100;
}

.iframe-container{
    width:"1000"; 
    height:"1000";
}