/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*IGNORE ABOVE CODE*/

/* Adding TW Cent MT */
@font-face{
    font-family: 'TW Cen MT';
    src:url("Tw Cen MT.ttf");
    font-style: normal;
    font-weight: 100;

}
/* Removing scroll bar */
::-webkit-scrollbar{
    display: none;
}


body{
    /* background-image: url(bgt.png); */
    background: linear-gradient(181.35deg, #24344B 0.75%, #3F2F40 64.61%, #1D1324 99.2%);/*Animation: 45deg*/
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    --shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(94, 69, 85, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
     transition: 1s ease-in 0.5s ;
     z-index: 0 !important;
     /* background-size: 400% 400%;
	animation: gradient 15s ease infinite; --> Animation*/
    
    
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  --> Animation*/


.above{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.main-nav{
   margin: 45px auto 50px auto;
   width: 60%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.main-nav-list{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.main-nav-item{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    width: 20%;
   font-size: 18px;
   font-family: 'TW Cen MT';
   font-style: normal;
   font-weight: 100;
   letter-spacing: 3px;
   margin: 15px 15px;
   text-align: center !important;
   /* padding-right: 15px; */
   padding: 15px;
}


.btn{
    position: relative;	
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: #14213D;
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: #fff;
	transition-delay: .35s;
}

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid  #fff;
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
    /* right: 1; */
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

.heading{
   width: 100%;
   height: auto;
   display: flex;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
}
hr{
    width: 75% !important; 
}

.h1{
    font-family: 'Raleway', sans-serif;
    font-size: 110px;
    letter-spacing: 5px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    width: 70%;
    height: auto;
    margin-top: 50px;
}




.content-container{

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around !important;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;

}
.sponsor-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.sponsor-hr{
    margin: 0px auto 20px auto;
}

.img-box{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

img{
    width: 100%;
    height: auto;
    box-shadow: var(--shadow);
}

.text-box{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    
}

h2  {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
}

p{
    font-family: 'Montserrat';
    font-size: 15px;
    text-align: left;   
    line-height: 20px;
}

/*MEDIA QUERIES*/
@media screen and (max-width:1000px) {
    .main-nav{
        visibility: hidden;
        display: none !important;
    }
    
    .h1{
        font-size: 100px;
        margin-top: 50px;
    }
    .bottom{
        flex-direction: column;
    }
    .content-container{
        flex-direction: column;
    }

    .sponsor-container{
        flex-direction: column;
    }

    .img-box{
        width: 60%;
        margin-bottom: 50px;
    }
    .text-box{
        width: 70%;
        margin-bottom: 30px;
    }
    hr{
        /* font-size: 16px; */
        margin: 15px auto 5px auto;
    }
    
    
}

@media screen and (max-width:650px) {
    
    .h1{
        font-size: 90px;
    }
    .text-box{
        width: 80%;
    }
        
    
}

@media screen and (max-width:550px) {
    
    .h1{
        font-size: 70px;
    }
    .text-box{
        width: 85%;
    }
    h2{
        font-size: 16px;
        margin: 15px auto 5px auto;
    }
    p{
        font-size: 12px ;
    }
    
    
    
}

@media screen and (max-width:400px) {
    
    .h1{
        font-size: 60px;
    }
}

/*SIDE_NAV*/

@media screen and (max-width:1000px){
    /*SIDE_NAV*/
    .side-nav{
        visibility: visible !important;
    }
}
    


.side-nav{
    position: fixed;
    top: 10px;
    right: 10px;
    visibility: hidden;
    z-index: 1 !important;
    
}

.but-nav{
    width: 100%;
    height: auto   ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
    color: white;
    border-style: none;  
    /* font-size: 150px;  */
    cursor: pointer;  
}

.material-icons{
    font-size: 35px !important;
}
.nav2-column{
    visibility: visible !important;
    z-index: 3 !important;
}
.side-nav-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 60px auto;
}

.close-nav{
    color: white;
    cursor: pointer;
}

.overlay{
    visibility: hidden;
}

.overlay2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    z-index: 2 !important;
    cursor: pointer;
}

.nav-hr{
    width: 60% !important;
    margin: 5px auto !important;
}

.li-side{
    width: 50%;
    font-size: 15px;
    margin: 5px auto;
    padding: 15px 15px;

}
.nav-column{
    /* padding: 10px; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
}

/*SIDE_NAV_END*/


/*FOOTER*/
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px ;
}
.footer{
    width: 62%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent
}
.creds{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
}
.social{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#footer-h2{
    font-family: 'TW Cen Mt';
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    /* color: white; */
    text-decoration: none !important;
    font-weight: 100;
    padding: 5px 15px;
    
}

a{
    text-decoration: none;
    color: white;
}

i{
    color: white;
}
/*FOOTER_END*/