
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*IGNORE ABOVE CODE*/
@font-face{
    font-family: 'TW Cen MT';
    src:url("Tw Cen MT.ttf");
    font-style: normal;
    font-weight: 100;

}

/* ::-webkit-scrollbar{
    display: none;
} */
body{
    background-image: url("24-242432_1080p-long-exposure-stars.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    /*min-height: 100vh;*/
    /*width: 50%;*/
    /* transition: none !important; */
}


.above{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }
 
 .main-nav{
    margin: 45px auto 50px auto;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
 .main-nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 
 .main-nav-item{
     display: flex;
     flex: row;
     justify-content: center;
     align-items: center;
     width: 100%;
    font-size: 18px;
    font-family: 'TW Cen MT';
    font-style: normal;
    font-weight: 100;
    letter-spacing: 3px;
    margin: 15px 15px;
    text-align: center !important;
    /* padding-right: 15px; */
    padding: 15px;
 }
 
 
 .btn{
     position: relative;	
     transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
     cursor: pointer;
     user-select: none;
 }
 
 .btn:before, .btn:after {
     content: '';
     position: absolute;	
     transition: inherit;
     z-index: -1;
 }
 
 .btn:hover {
     color: #14213D;
     transition-delay: .5s;
 }
 
 .btn:hover:before {
     transition-delay: 0s;
 }
 
 .btn:hover:after {
     background: #fff;
     transition-delay: .35s;
 }
 
 .from-top:before, 
 .from-top:after {
     left: 0;
     height: 0;
     width: 100%;
 }
 
 .from-top:before {
     bottom: 0;	
     border: 1px solid  #fff;
     border-top: 0;
     border-bottom: 0;
 }
 
 .from-top:after {
     top: 0;
     height: 0;
     /* right: 1; */
 }
 
 .from-top:hover:before,
 .from-top:hover:after {
     height: 100%;
 }
 
 .heading{
    width: 100%;
    height: auto;
    display: flex;
    margin: 30px auto 30px auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 hr{
     width: 60% ; 
 }
 form{
     width: 100%;
 }
 
 .h1{
     font-family: 'Cinzel', sans-serif;
     font-size: 110px;
     letter-spacing: 15px;
 }

 .bottom{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
 }

 .drop-down-container{
     width: 70%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 60px auto 80px auto;
 }

 .sub-heading{
     width: 30%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-size: 40px;
     
 }

 select{
     width: 50%;
     height: 40px;
     background-color: rgba(255, 255, 255, 0.7);
     border-radius: 5px;
     cursor: pointer;
 }

 .button-container{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 button{
     padding: 12px 50px;
     text-align: center;
     background-color: rgba(255, 255, 255, 0.2);
     border-style: solid;
     color: white;
     border-radius: 5px;
     font-size: 20px;
     border-color: white;
     cursor: pointer;
 }

 button:hover{
     transition: ease-in;
     background-color: white;
     color: #101C2A;
 }
 
 option{
     font-size: 15px;
     font-family:'Playfair Display';
     background-color: rgba(255, 255, 255, 0.7);
 }

 /*MEDIA QUERIES*/
@media screen and (max-width:1000px) {
    .main-nav{
        visibility: hidden;
        display: none !important;
    }
    
    .h1{
        font-size: 70px;
        
    }

    .first-hr{
        margin-top: 50px;
    }
    .heading{
        margin:20px auto;
    }
    .sub-heading{
        font-size: 30px;
    }
    .drop-down-container{
        margin: 40px auto 50px auto;
    }
    button{
        padding: 10px 40px;
        font-size: 14px;
    }
}

@media screen and (max-width:650px) {
    
    .h1{
        font-size: 50px;
    }
    .drop-down-container{
        width: 90%;
    } 
    hr{
        width: 70%;
    }
    button{
        padding: 5px 30px;
        font-size: 10px;
    }
    .first-hr{
        margin-top: 80px;
    }
}

@media screen and (max-width:550px) {
    
    .h1{
        font-size: 40px;
    }
    .sub-heading{
        font-size: 20px;
    }
    select{
        height: 30px;
    }
    .drop-down-container{
        margin: 20px auto 30px auto;
    }
      
}

@media screen and (max-width:400px) {
    
    .h1{
        font-size: 30px;
    }
}

/*SIDE_NAV*/

@media screen and (max-width:1000px){
    /*SIDE_NAV*/
    .side-nav{
        visibility: visible !important;
    }
}
    


.side-nav{
    position: fixed;
    top: 10px;
    right: 10px;
    visibility: hidden;
    z-index: 1 !important;
    
}

.but-nav{
    width: 100%;
    height: auto   ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
    color: white;
    border-style: none;  
    /* font-size: 150px;  */
    cursor: pointer;  
}

.but-nav{
    background-color: transparent !important;
}

.material-icons{
    font-size: 35px !important;
}
.nav2-column{
    visibility: visible !important;
    z-index: 3 !important;
}
.side-nav-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 60px auto;
}

.close-nav{
    color: white;
    cursor: pointer;
}

.overlay{
    visibility: hidden;
}

.overlay2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    z-index: 2 !important;
    cursor: pointer;
}

.nav-hr{
    width: 60% !important;
    margin: 5px auto !important;
}

.li-side{
    width: 50%;
    font-size: 15px;
    margin: 5px auto;
    padding: 15px 15px;

}
.nav-column{
    /* padding: 10px; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
}

/*SIDE_NAV_END*/


/*FOOTER*/
.footer-container{
    /* position: absolute;
    bottom: 0;
    right: 0; */
    margin-top: 20vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px ;
}
.footer{
    width: 62%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent
}
.creds{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
}
.social{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#footer-h2{
    font-family: 'TW Cen Mt';
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    /* color: white; */
    text-decoration: none !important;
    font-weight: 100;
    padding: 5px 15px;
    margin: 20px auto;
    
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

i{
    color: white;
}
/*FOOTER_END*/


